.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .middle-bar {
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  z-index: -1;
}

.header .logo-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}

.header .logo-nav-container .logo-container {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
