.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}

.item-wrapper svg {
  color: var(--primary-color);
  width: 70px;
  height: 70px;
}

.item-wrapper p.benefit-title {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  height: 60px;
  letter-spacing: 2px;
}

.item-wrapper p.desc {
  font-size: 15px;
  text-align: justify;
}
