.container {
  width: calc(100% - 300px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .form-card {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(111, 111, 111, 0.1);
  width: 400px;
}

.container .form-container {
  width: 100%;
}

.container .toggle-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-top: 1px solid var(--primary-color);
  padding-top: 30px;
}
